body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: linear-gradient(90deg, #2e7d32, #4a148c);
  color: white;
  text-align: center;
  padding: 15px;
}

header img {
  width: 60px;
}

.section {
  display: none;
  padding: 15px;
  padding-bottom: 80px;
}

.active {
  display: block;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #4a148c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  padding: 10px;
  border-radius: 12px;
  max-width: 70%;
}

.msg.aluno {
  background: #4a148c;
  color: white;
  align-self: flex-end;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
}

.navbar button {
  background: none;
  color: #2e7d32;
  font-size: 14px;
}
.card p {
  font-weight: 500;
}

input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 10px;
}
