body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

/* TOPO */
header {
  background: linear-gradient(90deg, #2e7d32, #4a148c);
  color: white;
  text-align: center;
  padding: 15px;
}

header img {
  width: 60px;
}

/* SEÇÕES */
.section {
  display: none;
  padding: 15px;
  padding-bottom: 100px;
}

.active {
  display: block;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* INPUTS */
textarea, input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BOTÕES */
button {
  background: #4a148c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

/* CHAT */
.topo-chat {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #2e7d32, #4a148c);
  color: white;
  padding: 10px;
}

.topo-chat img {
  width: 40px;
}

.chat-area {
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 10px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
}

.msg.aluno {
  background: #3b82f6;
  color: white;
  align-self: flex-end;
}

.nome {
  font-size: 12px;
  text-align: right;
}

/* INPUT FIXO */
.chat-input {
  position: fixed;
  bottom: 60px;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  background: white;
}

/* MENU */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
}label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  font-size: 16px;
}

input[type="radio"] {
  width: auto;
  margin: 0;
  transform: scale(1.2);
  .card p {
  margin-top: 10px;
  margin-bottom: 5px;
  }
}
